.signUp .container{
  max-width: 720px;
}

.signUp form {
  padding: 10px;
  color: black;
}

.signUp p {
  margin-top: 10px;
}

.signUp .no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.signUp .no-spin {
    -moz-appearance:textfield !important;
}