#carouselItems.carousel {
  padding: 5px 45px;
  width: 100%;
}

#carouselItems.carousel .carousel-indicators {
  bottom: -20px;
}

#carouselItems .carousel-control-prev, 
#carouselItems .carousel-control-next {
  width: 40px;
  margin: auto 0;
  font-size: 3rem;
}

#carouselItems  .carousel-indicators li{
  background-color: #666666;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.sidenav__toggleBtn{
  display: none;

  position: absolute;
  right: 28px;
  bottom: 28px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  background-color: #3e86c9;
  color: white;
}

#filter-results-button{
  fill: white;
}

@media (max-width: 768px) {
  .sidenav__toggleBtn{
    display: block;
  }
}