.header {
  background-color: #0b3861;
  color: white;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header__logo {
  display: block;
  height: 60px;
  width: 60px;
  object-fit: contain;
  border-radius: 50%;
  margin: 0 25px;
  overflow: hidden;
}

.header__search {
  width: 60%;
  display: flex;
}

.header__actions {
  display: flex;
  margin: 0 25px;
  min-width: 138px;
}

.header__actionsCart {
  font-size: 24px;
  margin-left: 15px;
}

@media (max-width: 576px) {
  .header__container{
    flex-wrap: wrap;
  }

  .header__search{
    width: 100%;
    padding: 10px 15px;
    padding-bottom: 0;
  }

  .header__container > a{
    order: 1;
  }
  .header__actions{
    order: 2;
  }
  .header__search{
    order: 3;
  }
}
