*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none !important;
  box-shadow: none !important;
}

:root{  
  --primary-accent: #0c3763;

  --header-height: 120px;         
  --body-height: calc(100vh - var(--header-height));
}

@media (max-width: 576px) {
  :root{
    --body-height: calc(100vh - 168px);
  }
}


.btn-primary {
  color: #fff;
  background-color: var(--primary-accent) !important;
  border-color: var(--primary-accent) !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0d3c6ced !important;
  border-color: #0d3c6ced !important;
}

.btn, .form-control {
  border-radius: 10px;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

/* CUSTOM STYLE SHEET FOR THE SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:silver; 
  border-radius: 10px;
}