.searchBar{
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.searchBar .ais-SearchBox-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.searchBar .ais-SearchBox-submit,
.searchBar .ais-SearchBox-reset {
  display: none;
}

.searchBar .ais-Hits {
  /* display: none; */
  position: absolute;
  background: #fff;
  padding: 10px 8px;
  width: 100%;
  z-index: 1050;
  border-radius: 10px;
}

.searchBar .ais-Hits-item {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  color: black;
}

.searchBar .ais-Hits-item:hover {
  background: #efefef;
}

.searchBar .ais-Hits-item > a{
  text-decoration: none;
  color: black;
}